name: Build Mod

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      -  name: Make gradlew executable
         run: chmod +x gradlew

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Build with Gradle
        run: run: ./gradlew deploy --no-daemon --refresh-dependencies

      - name: Upload mod JAR
        uses: actions/upload-artifact@v4
        with:
          name: Tomodrek
          path: build/libs/*.jar
